projs/
.emacs.d/
.gem/
.rvm/
.vim*
.emacs*
.ido.last
.gitk
.recentf
.rsense
.smex-items
.irclog/
.DS_Store
.dropbox/
Dropbox/
Desktop/
Pictures/
Public/
Documents/
Music/
Library/
Movies/
[Dd]ownload*
.bash_history
.bashrc.local
.fasd
cscope.*
.*history
*.tar.gz
*.7z
*.zip
*.rar
*.user
*.swp
elim-client
*.stderr
tags
TAGS
GTAGS
GRTAGS
GPATH
*.o
*.obj
*.pdb
*.suo
*.cache
.metadata
.rev_map.*
*.elc
*.pyc
*.bak
*.BAK
*~
*.orig
*.rej
*.pacnew
*.pacorig
tramp
session*
abbrev_defs
auto-save-list/
ffi
*.sqlite3
